# BEGIN: /c:/Users/JALAL/OneDrive/Bureau/BENet/CorrectionEmotiC/.gitignore
EMOTIC (1)
yolov5s.pt
tosend
newestEmoticAnnotations.zip
newestannotations.zip
# END: /c:/Users/JALAL/OneDrive/Bureau/BENet/CorrectionEmotiC/.gitignore


